.card {
  background-color: red;
  border-radius: 5px;
  cursor: pointer;
}

.card:hover {
  background-color: #eee;
}

.card:active {
  background-color: #dddddd;
}

.card-title {
  padding: 20px;
  border-bottom: 1px solid #ff9200;
}

.card-title > h1 {
  font-weight: bold;
}

.card-content {
  padding: 20px;
  border-bottom: 1px solid #ff9200;
}

.card-footer {
  padding: 20px;
  display: block !important;
}

.card-footer > div {
  display: block;
}

.card-footer > div > p {
  font-style: italic;
  font-size: 0.8em;
  display: inline;
}

.card-button {
  float: right;
  text-decoration: underline;
  font-style: normal;
  cursor: pointer;
}

.card-button-delete {
  color: red;
}

.card-button:hover {
  color: #ff9200;
}
